<%- include('../partials/header') %>

    <div class="content">
       
        <div class="container">
           
            <div class="row">
                <% user.forEach(function(u) { %>
                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto"><img src="https://images.unsplash.com/photo-1595624871930-6e8537998592?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2102&q=80" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                            <div class="">
                         
                              
                                <a href="/users/<%= u.id%>"><h4><%= u.name%></h4></a>
                                <p class="text-muted">@<%= u.city%>  <span>| </span><span><a href="#" class="text-pink"><%= u.email%></a></span></p>
                                
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                    </div>
                               
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-user"></i> Add as friend</button>
                                    </div>
                                </div>
                            </div><!-- End div .user-button -->
                        </div>
                    </div>
                </div>
                <% }); %>
                <!-- end col -->
                
            
            <!-- end row -->
        </div>
        <!-- container -->
    </div>


</body>

</html>